<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianping.ssp.recommend.dashboard.dao.ArticlePVDao">
    <resultMap id="SBArticlePVMapping"  type="com.dianping.ssp.recommend.dashboard.entity.ArticlePVO">
        <result column="id" property="id" />
        <result column="origin_id" property="originId" />
        <result column="domain_id" property="domainId" />
        <result column="source" property="source" />
        <result column="cal_dt" property="calDt" />
        <result column="url" property="url" />
        <result column="is_new" property="isNew" />
        <result column="pv_diff" property="pvDiff" />
        <result column="create_time" property="createTime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <select id="query"  resultMap="SBArticlePVMapping">
        SELECT * from SB_Article_PV
        where
        create_time &gt;= #{startTime} and create_time &lt;= #{endTime}

    </select></mapper>